<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android'
      package='com.maxted.DEMO1'
      android:versionCode='1'
      android:versionName='1.0'>
      
 	<supports-screens  android:largeScreens="true"
 	    android:xlargeScreens="true" />
 	
	<uses-sdk android:minSdkVersion="10" />

	<!-- 사용자 권한  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name='android.permission.INTERNET' />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission> 
    
    <application android:label='@string/app_name' android:icon='@drawable/icon' android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name='MAIN'
                  android:label='@string/app_name'  android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name='android.intent.action.MAIN' />
                <category android:name='android.intent.category.LAUNCHER' />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps" />  
        <activity android:name='flashbox.ANDROID.DELEGATE'
                  android:label='@string/app_name'  android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" >
        </activity>     
        <!-- activity android:name='SPLASH'
                  android:label='@string/app_name'  android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name='android.intent.action.MAIN' />
                <category android:name='android.intent.category.LAUNCHER' />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps" />  
        <activity android:name='flashbox.ANDROID.DELEGATE'
                  android:label='@string/app_name'  android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" >
        </activity>     
        <activity android:name='com.maxted.DEMO1.MAIN'
                  android:label='@string/app_name'  android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"  >
        </activity--> 
        
    </application>
</manifest>

